name: Send message
on:
  - workflow_dispatch
  - push
  - pull_request
jobs:
  build:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

    - name: Send message
      run: curl ntfy.sh -d "Running Java tests now"
      run: mvn spring-boot:run
      