name: Java tests
on:
  - workflow_dispatch
  - push
  - pull_request
jobs:
  build:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

    - name: Spring Boot CI/CD
      run: mvn spring-boot:run
      